.about-header {
  font-family: "Eczar", serif;
  font-weight: 600;
}
.about-sec {
  padding: 50px 100px;
}
.about-container {
  display: flex;

  justify-content: space-evenly;
}
.about-text {
  font-size: 20px;
  line-height: 150%;
}
.about-description {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.avatar {
  width: 456px;
  height: 481px;
}

.contact-animated-icons-container {
  display: flex;
  font-family: "Work Sans", sans-serif;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 50px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition-delay: 0.2s;
}

.about-sec.section-animated-active .contact-animated-icons-container {
  opacity: 1;
  transform: translateY(0);
}

.animated-contact-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  background-color: #4d5566;
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  transform: translateX(-50px);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  text-decoration: none;
}

.animated-contact-icon {
  font-size: 50px;
  margin-bottom: 10px;
  color: white;
}

.animated-contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.3s;
}

.animated-contact-details a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.animated-contact-details p {
  font-size: 0.9em;
  margin: 0;
  color: white;
}

.about-sec.section-animated-active .animated-contact-icon-wrapper {
  transform: translateX(0);
  opacity: 1;
}

.about-sec.section-animated-active .animated-contact-icon-wrapper.delay-1 {
  transition-delay: 0.3s;
}
.about-sec.section-animated-active .animated-contact-icon-wrapper.delay-2 {
  transition-delay: 0.4s;
}

.animated-contact-icon-wrapper .animated-contact-details {
  opacity: 1;
}

.animated-contact-icon-wrapper:hover {
  cursor: pointer;
  background-color: #3a3f47;
}

.email {
  display: flex;
}
