.about-header {
  font-family: "Eczar", serif;
  font-weight: 600;
}
.about-sec {
  padding: 50px 100px;
}
.about-container {
  display: flex;

  justify-content: space-evenly;
}
.about-text {
  font-size: 20px;
  line-height: 150%;
}
.about-description {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.avatar {
  width: 456px;
  height: 481px;
}
